$ct-header-height: 48px;
$ct-main-height: 300px;
$ct-height: $ct-header-height + $ct-main-height;
$ct-side-width: 300px;
$ct-field-height: 12rem;
$ct-font-size-sm: 0.875rem;
$ct-keyline-border: 1px solid rgba(255, 255, 255, 0.2);
$ct-breakpoint-sm: 720px;
$ct-breakpoint-md: 880px;
$ct-breakpoint-lg: 1200px;
$ct-color-dark: #333;
$ct-drop-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);

$ct-spacer: 1.5rem;
$ct-spacer-x2: $ct-spacer * 2;
$ct-spacer-half: $ct-spacer * 0.5;
$ct-spacer-quarter: $ct-spacer * 0.25;

.ct * {
  box-sizing: border-box;
}

.ct {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: $ct-color-dark;
  z-index: 1;
  font-size: 1rem;
  height: $ct-header-height;
  font-family: sans-serif;
  background-color: white;
  transition: height 0.25s ease-out;
  border-top: 1px solid #ccc;
}

.ct-btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  outline: none;
}

.ct.is-open {
  height: $ct-height;
}

.ct-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: $ct-spacer-half $ct-spacer;
  font-size: $ct-font-size-sm;
  height: $ct-header-height;
  box-shadow: $ct-drop-shadow;
  position: relative;
  z-index: 1;
  background-color: white;
}

.ct-title {
  font-weight: bold;
}

.ct-toggle {
  text-transform: uppercase;
  padding: $ct-spacer-half;
  color: blue;
  font-weight: bold;
}

.ct-main {
  display: flex;
  height: 100%;
}

.ct-grid {
  margin-left: -$ct-spacer;
}

.ct-cell {
  display: inline-block;
  padding-left: $ct-spacer;
  width: 100%;
}

.ct-w1\/2\@sm {
  @media (min-width: $ct-breakpoint-sm) {
    width: 50%;
  }
}

.ct-w1\/3\@md {
  @media (min-width: $ct-breakpoint-md) {
    width: 33.333333%;
  }
}

.ct-w1\/4\@lg {
  @media (min-width: $ct-breakpoint-lg) {
    width: 25%;
  }
}

.ct-mb {
  margin-bottom: $ct-spacer;
}

.ct-main-fields {
  flex: 1;
  overflow-y: scroll;
  padding: $ct-spacer;
}

.ct-main-side {
  width: $ct-side-width;
}

.ct-side-placeholder {
  padding: $ct-spacer;
}

.ct-linker {
  padding: $ct-spacer;
}

.ct-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  min-height: $ct-field-height;
  font-size: $ct-font-size-sm;
  border-radius: 8px;
  transition: transform 0.25s ease-out;
}

.ct-field.is-selected {
  transform: scale(1.1);
}

.ct-field:not(:last-child) {
  margin-bottom: $ct-spacer;
}

.ct-field-main {
  padding: $ct-spacer;
}

.ct-field-title {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: $ct-spacer-quarter;
  font-size: $ct-font-size-sm;
  line-height: 1.5;
}

.ct-field-type {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: $ct-font-size-sm;
}

.ct-field-info {
  margin-top: $ct-spacer;
}

.ct-field-controls {
  border-top: $ct-keyline-border;
}

.ct-field-control {
  display: inline-block;
  padding: $ct-spacer;
  width: 50%;

  text-transform: uppercase;
  font-size: $ct-font-size-sm;

  &:not(:first-child) {
    border-left: $ct-keyline-border;
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

